:root {
    --background-navy: #1B244A;
    --highlight-red: #F94F6D;
    --highlight-yellow: #FFDF6D;
    --hightlight-green: #B3FF85;
    --highlight-skyblue: #9AABD8;
}

body {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: var(--background-navy);
    color: white;
}

h3, h4, #new-game-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

button {
    font-family: inherit;
    font-size: 18px;
    background-color: var(--background-navy);
    color: var(--highlight-skyblue);
    border: 1px solid var(--highlight-skyblue);
}

.container {
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.primary-num {
    font-size: 90px;
    color: var(--highlight-red);
}

.secondary-num {
    font-size: 64px;
    color: var(--highlight-yellow);
}

.foul-btn {
    color: var(--highlight-yellow);
    border: 1px solid var(--highlight-yellow);
}

#period-num {
    color: var(--hightlight-green);
}


#new-game-btn {
    width: 150px;
    margin: auto;
    font-size: 24px;
    background-color: var(--hightlight-green);
    color: var(--background-navy);
}

.basic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

