:root {
    --background-navy: #1B244A;
    --highlight-red: #F94F6D;
    --highlight-yellow: #FFDF6D;
    --hightlight-green: #B3FF85;
    --highlight-skyblue: #9AABD8;
}

body {
    font-family: 'Cursed Timer ULiL', sans-serif;
}

h3, #new-game-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: inherit;
}

.basic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex; 
    justify-content: space-between;
}

.container {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}